.customScrollUp {
  text-align: center;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  border: none;
  transition: 0.4s ease;
  bottom: 15px;
  right: 20px;
  font-size: 16px;
  text-decoration: none;
  background: transparent;
}

.customScrollUp i {
  font-size: 70px;
  color: #E6C200;
  position: relative;
}

.customScrollUp:hover i {
  transform: translateY(-5px);
}
